@media only screen and (max-width: 991px) {
    .smallHide {
        display: none;
    }
}

.link {
    text-decoration: none;
    color: #43464d;
    transition: all 0.3s ease-in-out;
}

.link:hover,
.active {
    font-weight: 400;
    color: black;
    text-decoration: underline;
}
