.header {
  background-color: #e1e8ec;
}

.header__link {
  color: #4c5175;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.header__link:hover {
  color: black;
  transform: scale(1.1);
}



.cartIcon {
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cartIcon:hover {
    border: 0.01px solid #bce7d9;
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}
